body {
    background: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/** {
    border: 1px dashed red;
    min-height: 10px;
}*/
h1{text-align: center; padding-bottom: 10px;}
section{background-color: lightgrey; padding: 10px;
}
.box{ background-color: white;
width: 600px;
margin: auto; height: auto; margin-bottom: 40px; margin-top: 40px;
border: 1px solid lightgrey; }
div.header{font-size: 20px; padding: 10px; display: inline-block;}
div.description{padding: 15px; font-size: 20px; border-top: 1px solid lightgray;}
div.date{display: inline; float: right; padding: 10px; color: gray;}
